/* start banner */
.banner {
    width:100%;
    height:645px;
    position:relative;
    overflow:hidden;
    background-color:rgb(37, 36, 36);
}
.banner>a {
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    z-index:1;
}
.banner-img {
    position:relative;
    width:100%;
    height:640px;
    overflow:hidden;
    text-align:center;
}
.banner-img img {
    width:1920px;
    position:absolute;
    left:-200px;
    bottom:0;
}
.banner-imgcolor {
    animation:bannerImgColor 6s ease-in-out infinite;
}
.banner-inner {
    position:absolute;
    top:170px;
    left:170px;
}
.banner-inner h1 {
    height:70px;
    color:white;
    font-size:40px;
    font-weight:normal;
}
.banner-inner p {
    height:80px;
    color:white;
    font-size:20px;
}
.banner-inner a {
    color:white;
    text-decoration:none;
    font-size:20px;
    padding-bottom:5px;
    border-bottom:3px solid #00c1de;
    position:absolute;
    z-index:5;
    transition:color 0.6s;
}
.banner-inner a:hover {
    color:#00c1de;
}
.banner-line {
    position:absolute;
    bottom:160px;
    right:50%;
    transform:translateX(50%);
    z-index:10;
}
.banner-line li {
    float:left;
    width:40px;
    height:4px;
    margin-right:10px;
    background-color:#494B52;
    cursor:pointer;
    position:relative;
}
.banner-line div {
    height:100%;
    animation:bannerWidth 10s linear infinite;
}
.banner-line-color {
    background-color:white !important;
}
.banner-box {
    width:100%;
    background-color:rgba(255, 255, 255, .04);
    position:absolute;
    bottom:0;
    right:50%;
    transform:translateX(50%);
    z-index:6;
}
.banner-box li {
    box-sizing:border-box;
    float:left;
    padding: 30px 26px 24px;
    width:20%;
    height:136px;
    border-left: 1px solid #7275778a;
    transition:background-color 0.4s;
    cursor:pointer;
}
.banner-box li:last-child {
    border-right: 1px solid #727577;
}
.banner-box li:hover {
    background-color:rgba(255, 255, 255, .08);
}
.banner-box h2 {
    font-size:16px;
    height:25px;
    color:white;
}
.banner-box p {
    color:#ccc;
    font-size:14px;
    line-height:24px;
}
/* end banner */

/* start 主体 */
/* start 云计算产品模块 */
.product-hd {
    text-align:center;
}
.product-hd img {
    margin:30px 0 24px;
}
.product-hd h1 {
    font-size:24px;
    font-weight:normal;
}
.product-hd p {
    margin:10px 0 40px;
}
.product-bd {
    text-align:center;
}
.product-bd-nav li{
    width:20%;
    float:left;
    height:130px;
    background: no-repeat center 10px;
    background-size:80px;
    cursor:pointer;
}
.product-bd li:hover {
    color:#00c1de;
}
.product-bd  li>p {
    margin-top:38%;
    font-size:14px;
}
.product-bd-box {
    background-color:#f5f5f6;
    width:100%;
    padding-top:1px;
    padding-bottom:1px;
}
.product-inner {
    margin-top:19px;
    margin-bottom:19px;
    display:flex;
}
.product-inner>div {
    flex:1;
    text-align:left;
}
.product-inner-left a:hover {
    color:#00c1de;
}
.product-inner-left span {
    display:inline-block;
    font-size:18px;
    font-weight:bold;
    margin:12px 0;
    vertical-align: middle;
}
.product-inner img {
    width:26px;
}
.product-inner p {
    font-size:12px;
    color:#9b9ea0;
}
.chopping {
    display:block;
    width:96px;
    height:28px;
    border:1px solid black;
    font-size:12px;
    line-height:28px;
    text-align:center;
    margin:16px 0 30px 0;
}
.chopping:hover {
    border-color:#00c1de;
    color:#00c1de;
}
.product-inner-repeat li {
    padding:12px 20px;
    transition:all .4s;
    margin-right:25px;
}
.product-inner-repeat li:hover {
    background-color:white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
}
.product-inner-repeat span {
    font-size:16px;
}
.product-all {
    display:block;
    width:122px;
    height:38px;
    border:1px solid black;
    background-color:white;
    margin:35px auto 40px;
    outline:none;
    cursor:pointer;
}
.product-all:hover {
    border-color:#00c1de;
    color:#00c1de;
}

/* end 云计算产品模块 */

.help {
    background-color:#3D3741;
    height:420px;
    width:100%;
}
.help-box {
    width:95%;
    margin:0 auto;
    height:420px;
    background-color:white;
}
.help-box li {
    width:20%;
    float:left;
    overflow:hidden;
}
.help-box img {
    width:100%;
}
/* end 主体 */